Source: sax
Section: utils
Priority: optional
Maintainer: Eternals Satya <eternals.satya@example.com>
Build-Depends: debhelper (>= 12), python3-all
Standards-Version: 4.5.0
Homepage: https://github.com/Eternals-Satya/SaX

Package: sax
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: SaX - A powerful testing tool for web services
 SaX is a tool for conducting various tests on web services like flood testing, etc.
