Source: sax
Section: misc
Priority: optional
Maintainer: Eternals Satya <eternals.satya@example.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Package: sax
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SaX programming language
 SaX is a lightweight programming language for testing and simulations.
